// Colors
$background: #fff;
$mainPatternColor: #00B46E;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $background;
    width: 460px;
    height: 532px;

    &__title {
        position: relative;
        top: -20px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 364px;

        label {
            font-size: 0.9rem;
            margin: 0.2rem 0;
        }

        .login__input {
            line-height: 2.5rem;
            font-size: 1rem;
            padding-left: 0.4rem;
            border: 1px solid #998f8f;
            border-radius: 4px;
            margin-bottom: 1rem;
        }

        .btn-toggle-visibility {
            position: absolute;
            top: 123px;
            right: 1rem;
            cursor: pointer;
        }

        .remember-me {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .keep-sign-in {
                display: block;
                position: relative;
                padding-left: 1.5rem;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                font-size: 1rem;
                cursor: pointer;

                input {
                    position: absolute;
                    opacity: 0;
                    height: 0;
                    width: 0;
                }

                .check-mark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 1rem;
                    width: 1rem;
                    border: 1px solid #dcdcde;
                    border-radius: 4px;
                    background-color: #eee;
                }

                input:checked ~ .check-mark {
                    background-color: $mainPatternColor;
                }
                .check-mark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }

                /* Show the checkmark when checked */
                input:checked ~ .check-mark:after {
                    display: block;
                }

                /* Style the checkmark/indicator */
                .check-mark:after {
                    left: 5px;
                    top: 3px;
                    width: 3px;
                    height: 6px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }


            /* When the checkbox is checked, add a blue background */
            input:checked ~ .check-mark {
                border: 1px solid $mainPatternColor;
                background-color: $mainPatternColor;
            }

        }
        .login__button {
        width: 100%;
        max-width: 364px;
        height: 40px;
        margin: 1rem 0;
        border: none;
        border-radius: 4px;
        background: $mainPatternColor;
        color: white;
        font-size: 1rem;
        cursor: pointer;
    }
    }
    p {
        font-size: .9rem;
    }
    .link {
        text-decoration: none;
        color: $mainPatternColor;
        font-size: .9rem;
    }

    
}