$mainPatternColor: #00B46E;
$borderColor: #D9D9D9;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .register {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 707px;
        height: 918px;
        background-color: #fff;

        &__title {
            position: relative;
            top: -3rem;
        }

        &__form {
            display: flex;
            flex-direction: column;
            width: 609px;

            label {
                margin-bottom: 2px;
            }

            .password-section {
                display: flex;
                position: relative;
                justify-content: space-between;

                &__item {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    max-width: 288px;

                    .btn-toggle-visibility {
                        position: relative;
                        width: 1rem;
                        top: -4rem;
                        left: 255px;
                        cursor: pointer;
                    }
                }
            }

            .gender {
                height: 40px;
                width: 288px;
                padding-left: .25rem;
                border: 1px solid $borderColor;
                border-radius: .25rem;
                background-color: #fff;
            }

            .contact-section {
                display: flex;
                justify-content: space-between;

                &__item {
                    display: flex;
                    flex-direction: column;
                    width: 288px;
                }
            }

            #experience-label {
                margin: 2rem 0;
            }

            .experience-section {
                display: flex;
                justify-content: space-between;
                margin-bottom: 2rem;

                &__item {
                    display: flex;
                    align-items: center;
                    position: relative;
                    padding-left: 1.5rem;
                    margin-bottom: 1rem;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;

                    input {
                        position: absolute;
                        opacity: 0;
                    }

                    /* Create a custom radio button */
                    .check-mark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 1rem;
                        width: 1rem;
                        border: 1px solid $borderColor;
                        background-color: #fff;
                        cursor: pointer;
                    }
    
                    /* When the radio button is checked, add a blue background */
                    input:checked ~ .check-mark {
                    background-color: #fff;
                    }
    
                    /* Create the indicator (the dot/circle - hidden when not checked) */
                    .check-mark:after {
                    content: "";
                    position: absolute;
                    display: none;
                    }
    
                    /* Show the indicator (dot/circle) when checked */
                    input:checked ~ .check-mark:after {
                    display: block;
                    }
    
                    /* Style the indicator (dot/circle) */
                    .check-mark:after {
                        top: .25rem;
                        left: .25rem;
                        width: .5rem;
                        height: .5rem;
                        background: #2196F3;
                    }
                }
            }
        }

        label {
            font-size: .9rem;
        }
        &__input {
            line-height: 2.5rem;
            font-size: 1rem;
            padding-left: 0.4rem;
            border: 1px solid $borderColor;
            border-radius: 4px;
            margin-bottom: 2rem;
        }
        .required-mark {
            color: red;
        }
        &__button {
            position: relative;
            bottom: -3rem;
            width: 100%;
            max-width: 611px;
            height: 40px;
            margin: 1rem 0;
            border: none;
            border-radius: 4px;
            background: $mainPatternColor;
            color: white;
            font-size: 1rem;
            cursor: pointer;
        }
    }
}