
$mainPatternColor: #00B46E;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    .forgot-password {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 460px;
        width: 100%;
        height: 534px;
        background-color: #fff;

        

        .form {
            display: flex;
            flex-direction: column;

            .btn-back {
                position: relative;
                margin: 0 0 0 0;
                font-size: 1.5rem;
                color: #8C8C8C;
            }
            .title {
                font-size: 2rem;
                margin-bottom: 0;
            }
            p {
                margin-bottom: 3rem;
            }

            label {
                margin-bottom: .25rem;
                font-size: .9rem;
            }

            input {
                line-height: 40px;
                margin-bottom: 2rem;
                padding: 0 .75rem;
                font-size: 1rem;
            }

            .btn-submit {
                width: 100%;
                position: relative;
                line-height: 40px;
                border: none;
                border-radius: .25rem;
                background-color: $mainPatternColor;
                color: #fff;
                font-size: 1rem;
                cursor: pointer;
            }
        }
    }
}