$mainPatternColor: #00B46E;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    font-size: 1rem;

    .link {
        text-decoration: none;
        color: $mainPatternColor;
    }
    .link:hover {
        text-decoration: underline;
    }

    &__search {
        display: flex;
        align-items: center;
        input {
            width: 400px;
            line-height: 40px;
            padding-left: .5rem;
            font-size: 1rem;
        }
        .btn-search {
            height: 46px;
            width: 46px;
            cursor: pointer;
        }
    }

    &__nav {
        display: flex;
        justify-content: space-evenly;
        width: 200px;
    }
}