$mainPatternColor: #00B46E;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    .reset-password-success {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 460px;
        height: 534px;
        background-color: #fff;

        .tick-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            font-size: 3rem;
            background-color: $mainPatternColor;
            color: #fff;
        }

        .shadow {
            width: 77px;
            height: 17px;
            left: 201px;
            top: 88px;
            margin: .5rem 0 1rem 0;

            background: radial-gradient(50% 50% at 50% 50%, #09884D 0%, rgba(9, 136, 77, 0) 100%);
            opacity: 0.4;
            filter: blur(7px);
        }

        .title {
            margin: 0;
        }
        p {
            width: 364px;
            margin-bottom: 2rem;
            font-size: 14px;
            text-align: center;
        }

        .btn-redirect {
            width: 364px;
            line-height: 40px;
            border-radius: .25rem;
            margin: 0;
            background-color: $mainPatternColor;
            color: #fff;
            text-decoration: none;
            text-align: center;
        }
    }
}