$mainPatternColor: #00B46E;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    .reset-password {
        display: flex;
        justify-content: center;
        width: 460px;
        height: 534px;
        background-color: #fff;

        .reset-form {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 364px;

            &__title {
                font-size: 2rem;
                margin: 3rem 0 0 0;
            }
            p{
                margin-bottom: 2rem;
            }

            label {
                position: relative;
                margin-bottom: .25rem;
                font-size: .9rem;

                .btn-toggle-visibility {
                    position: absolute;
                    top: 2.3rem;
                    right: 1rem;
                    cursor: pointer;
                }
            }

            input {
                line-height: 40px;
                font-size: 1rem;
                padding-left: .5rem;
                margin-bottom: 1rem;
            }

            .btn-submit {
                border: none;
                border-radius: .25rem;
                margin: 1rem 0;
                line-height: 40px;
                background-color: $mainPatternColor;
                color: #fff;
                font-size: 1rem;
                cursor: pointer;
            }
        }
    }
}